<section>
  <h2>Crie sua propria sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Insíra uma senha</label>
    <input
      type="password"
      name="password"
      id="room-pass"
      placeholder="Insíra uma senha"
    />
    <button>
      <img src="/assets/users-white.svg" alt="Entrar na sala" />
      Criar sala
    </button>
  </form>
</section>
